.video-js.vjs-audio {
  /* Reset the height of the player to the height of the controller */
  height: 3em;
  min-height: 3em;
}
  /* Who needs this ? */
  .vjs-big-play-button {
    display: none;
  }
  
  .vjs-fullscreen-control {
    display: none;
  }
  /* Make the controlbar visible by default */
  .vjs-control-bar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  /* The spinner is useless when there is just the controller only mode */
  .vjs-loading-spinner {
    display: none;
  }
  /* Add another way to indicate waiting by using the progress slider */
  &.vjs-waiting .vjs-progress-holder:not( .vjs-seeking) {
    height: .5em;
    background-image: repeating-linear-gradient( -45deg, #73859f, #73859f 11px, #eee 10px, #eee 20px);
    border-radius: 3px;
    background-size: 28px 28px;
    transition: height .5s;
    animation: vjs-slider-indeterminate .5s linear infinite;
    .vjs-play-progress {
      display: none;
    }
  }
}

@keyframes vjs-slider-indeterminate {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 28px 0;
  }
}